<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/form.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/javascripts/form.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>

  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
  <style>
    .row:not(:first-child){
      padding: 5% 0%;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
 <div class="container-fluid">
   <div class="navbar-header">
      <a class="navbar-brand" href="#">CCMS</a>
    </div>
    <ul class="nav navbar-nav">
       <li class="active"><a href="/">Home</a></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
       {{#if logout}}
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      {{else}}
          <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
      {{/if}}
     </ul>
   </div>
</nav>

<div class="container">
  {{{body}}}
</div>

</body>
</html>
